
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# --- INCLUSIONS POUR LA WEBVIEW ---
!src/webview/panel.html
!src/webview/panel.css
!src/webview/panel.js
!src/assets/images/sprites/boy/**
